<mat-card class="project-stat__item">
    <mat-card-title class="project-stat__title">

     
    </mat-card-title>
    <mat-card-content class="project-stat-content">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">CREATED ON</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td><button mat-icon-button><mat-icon>refresh</mat-icon></button></td>
        <td><button mat-icon-button><mat-icon>delete</mat-icon></button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td><button mat-icon-button><mat-icon>lock</mat-icon></button></td>
        <td><button mat-icon-button><mat-icon>delete</mat-icon></button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td><button mat-icon-button><mat-icon>lock</mat-icon></button></td>
        <td><button mat-icon-button><mat-icon>delete</mat-icon></button></td>
      </tr>
    </tbody>
  </table>
</mat-card-content>
</mat-card>