

  <!-- <div class="card" >
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->
  <mat-card class="project-stat__item">
    <mat-card-title class="project-stat__title">

     
    </mat-card-title>
    <mat-card-content class="project-stat-content">
        <form>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <input type="Name"  placeholder="Name" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                  <input type="email"  placeholder="EMAIL" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                  <input type="ADDRESS"  placeholder="ADDRESS" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                  <input type="date"  placeholder="ADDRESS" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
              </div>
        
          </form>
     

     
    </mat-card-content>
  </mat-card>